header {
  z-index: 10;
}

.header-part img {
  width: 200px;
}

.sect1 {
  background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg");
  height: 799px !important;
  background-size: cover;
}

.menu nav ul li a:hover {
  color: #FED136 !important;
}

.home-txt {
  position: absolute;
  top: 15rem;
}

.text2 {
  font-size: 70px;
}

.sect1 button {
  height: 60px;
}

.home-txt button:hover {
  background-color: #e0b20d !important;
}

.cards i {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 60px;
}

.cards-portfolio .img-p {
  width: 450px;
  height: 337.5px;
  object-fit: cover;
}
.cards-portfolio .img-p:hover {
  transition: all 0.5s;
}
.cards-portfolio .img-p:hover .hover {
  display: inline !important;
}
.cards-portfolio .hover {
  width: 450px;
  height: 337.5px;
  background-color: #FED136;
  position: absolute;
  display: none !important;
}
.cards-portfolio .hover i {
  font-size: 50px;
  color: white;
}

.about {
  height: 900px;
  position: relative;
  margin-bottom: 30px;
}
.about .up-about {
  position: absolute;
  top: 0;
}
.about .list1 {
  position: relative;
}
.about .list1 .timeline-item {
  position: absolute;
  top: -13.8rem;
  left: 15rem;
}
.about .list2 {
  position: relative;
}
.about .list2 .timeline-item {
  position: absolute;
  top: -5rem;
  left: 39.5rem;
}
.about .list3 {
  position: relative;
}
.about .list3 .timeline-item {
  position: absolute;
  top: 4rem;
  left: 15rem;
}
.about .list4 {
  position: relative;
}
.about .list4 .timeline-item {
  position: absolute;
  top: 12rem;
  left: 39rem;
}
.about .rounded-circle::after {
  content: "";
  background-color: red;
  height: 10px;
  width: 1px;
  position: absolute;
  z-index: 10;
}

.team {
  background-color: #F8F9FA;
}
.team .down-team .cards-team img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #DFE0E1;
}
.team .down-team .cards-team .social div {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: black;
}
.team .down-team .cards-team .social div:hover {
  transition: all 0.5s;
  background-color: rgb(65, 65, 65);
}

.sponsor .companies .img-sponsor {
  width: 150px;
  height: 90px;
}

.form {
  background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png");
  background: black;
  height: 600px;
}
.form .down-form .left-form .input-form {
  width: 10rem;
}

footer .social div {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: black;
}
footer .social div:hover {
  transition: all 0.5s;
  background-color: rgb(65, 65, 65);
}
footer .right-f a:hover {
  transition: all 0.7s;
  text-decoration: underline !important;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }
  .text2 {
    font-size: 40px;
  }
  .down-servises {
    display: flex;
    flex-direction: column;
  }
  .btn {
    width: 200px;
    width: 75%;
  }
  .img-p {
    width: 200px !important;
    height: 200px !important;
  }
}